/* individual pages */
@mixin articlebg{
    background-size: cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}

#aquario{
    background: url('images/overlay_dark_blue_30.png'), url('../../images/pages/peixe.jpg');
    @include articlebg;
}

#bichomania{
    background: url('images/overlay_orange.png'), url('../../images/pages/criancacoelho.jpg');
    @include articlebg;
}

#ciadosbichos{
    background: url('images/overlay_orange.png'), url('../../images/pages/ciabichos.jpg');
    @include articlebg;
}

#fazendinha{
    background: url('images/overlay_dark_blue_30.png'), url('../../images/pages/fazendinha.jpg');
    @include articlebg;
}

#horto{
    background: url('images/overlay_dark_blue_30.png'), url('../../images/pages/horto.jpg');
    @include articlebg;
}

#jardim{
    background: url('images/overlay_orange.png'), url('../../images/pages/jdbotanico.jpg');
    @include articlebg;
}

#parquevolpi{
    background: url('images/overlay_dark_blue_30.png'), url('../../images/pages/pqvolpi.jpg');
    @include articlebg;
}

#parqueburle{
    background: url('images/overlay_orange.png'), url('../../images/pages/pqburle.jpg');
    @include articlebg;
}

#parqueaclima{
    background: url('images/overlay_orange.png'), url('../../images/pages/pqaclima.jpg');
    @include articlebg;
}

#monica{
    background: url('images/overlay_dark_blue_30.png'), url('../../images/pages/pqmonica.jpg');
    @include articlebg;
}

#parquedopovo{
    background: url('images/overlay_orange.png'), url('../../images/pages/pqpovo.jpg');
    @include articlebg;
}

#pracafaggin{
    background: url('images/overlay_orange.png'), url('../../images/pages/pcdrernesto.jpg');
    @include articlebg;
}

#pracacoutinho{
    background: url('images/overlay_dark_blue_30.png'), url('../../images/pages/pccoutinho.jpg');
    @include articlebg;
}

#petzoo{
    background: url('images/overlay_orange.png'), url('../../images/pages/petzoo.jpg');
    @include articlebg;
}

/* general style */

.main {
    > .content-pages {
        max-width: calc(100% - 4em);
        margin: 3em;

        /*> :last-child {
            margin-bottom: 0;
        }*/
    }
    
    .style-pages{
        @include vendor('align-items', 'center');
        @include vendor('justify-content', 'center');
        //text-align: center;
        padding: 3em 0 3em 0;

        h2 {
            font-size: 4.25em;
            line-height: 1em;
        }

        > .content {
            @include vendor('transition', 'opacity #{_duration(fade-in)} ease');
            @include vendor('transform', 'translateZ(0)');
            opacity: 1.0;
            margin: 0;
        }

        &.inactive > .content {
            opacity: 0;
        }
    }
}

.rotate-90{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.back{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    margin-bottom: 4vh;

    text-align: left;
    
    @media screen and (max-width: 736px) {
        text-align: center;
    }
}

.back a{
    margin-left: 5vh;
}
